{% include "header.html" %}
{% include "navbar.html" %}

<style>
    .container-md {
        margin-top: 2em;
        width: fit-content;
        min-width: 40vw;
    }

    .friendbox {
        border: 1px solid #bbb;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }
</style>

<div class="container-md">
    <div class="row">
        <!-- profile data  -->
        <div class="col-12 col-md-8">
            <h1>{{user.name}}</h1>
            <p>@{{user.username}}</p>
            {% if user.birthday %}
            <p><strong>Birthday: </strong>{{user.birthday}}</p>
            {% endif %}

            {% if user.notifications %}
            {% for notif in user.notifications %}
            <ul>
                <li><strong>{{notif.author}}</strong></li>
                <li>{{notif.description}}</li>
            </ul>
            {% endfor %}
            {% else %}
            <p>No new notifications</p>
            {% endif %}
        </div>


        <!-- friend box  -->
        <div class="col-12 col-md-4 friendbox">
            <h2>Friends</h2>
            {% for friend in user.friends %}
            <p><strong>{{friend}}</strong></p>
            {% endfor %}
        </div>
    </div>
</div>

{% include "footer.html" %}