{% include "header.html" %}
{% include "navbar.html" %}

<style>
    .container.index-container {
        width: 100%;
        margin: 1em auto;
        text-align: center;
    }
</style>

<div class="container index-container">
    <h1>Auth and JWT demo App</h1>
    <p>An app for demoing auth and jwt with fastAPI</p>
</div>

{% include "footer.html" %}