{% include "header.html" %}
{% include "navbar.html" %}

<style>
    .container {
        justify-self: center;

        margin-top: 2em;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;

    }

    .invalid-register-message {
        margin-top: 0.5em;
        color: #eb4823;
    }
</style>

<div class="container">
    <form action="/register" method="POST">

        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username">
        </div>

        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" name="email" id="email">
        </div>

        <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name">
        </div>

        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password">
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    {% if invalid %}
    <p class="invalid-register-message">User cannot be registered</p>
    {% endif %}
</div>

{% include "footer.html" %}